body {
  margin: 0;
}

.appWrap {
  margin: 0;
}

.navBarViewWrap {
  display: flex;
  overflow: hidden;
  position: fixed;
  width: 100%;
  background-color: #52647f;
}

.homeNavWrap {
  background-color: red;

}

.calResNavWrap {

}

.placeHolder {
  background-color: green;
  color: white;
  margin: 1rem;
}

.calResViewWrap{
  height: 90vh;
  max-width: auto;
  background-color: black;
  display: flex;
}

.calViewWrap{
  height: 90vh;
  display: flex;
}

.googleCal{
  height: 90vh;
  width: 80vw;
  border-width: 0;
  frameborder: 0;
  margin-left: 0;
  margin-right: 0;
}

.resViewWrap{
  height: 81vh;
  width: 20vw;
  background-color: white;
  margin-top: 9vh;
  font-size: .75rem;
}

.reserveDiv {
  margin-top: 1rem;
  margin-left: .25rem;
  margin-right: .25rem;
}
